@import "normalize.css/normalize.css";
@import './variables.scss';

:root {
  --font-color: #444;
  --background-color: #{$color-yellow};
}

body {
  font-family: $--font-family-body;
  color: #444;
  background-color: var(--background-color);
  color: var(--font-color);

  &.dark {
    --background-color: #{$color-dark-blue};
    --font-color: #ddd;
  }
}

h1, h2, h3, h4, h5 ,h6, .subtitle {
  font-family: $--font-family-display;
}

h1, .title {
  --header-color: #{$color-blue};
  color: var(--header-color);

  .dark & {
    --header-color: #fff;
  }
}

h2, h3, h4, h5 ,h6, .subtitle {
  --header-color: #555;
  color: var(--header-color);

  .dark & {
    --header-color: #ddd;
  }
}
