$color-red: #E63946;
$color-yellow: #F1FAEE;
$color-green: #A8DADC;
$color-light-blue: #b5d4e7;
$color-blue: #457B9D;
$color-dark-blue: #1D3557;

$border-radius: 10px;
$padding: 20px 15px;

$--font-family-display: 'Epilogue', sans-serif;
$--font-family-body: 'Mulish', sans-serif;
